{% extends 'App/index.html' %}
{% load static %}
{% block contenidoQueCambia %}

<br>
<br>

<div class="container text-left">

    <p><h1>Articulo - {{entrenamiento.encabezado}}</h1></p>
    <br>
    <br>
    {% if entrenamiento.imagenNoticias %}
        <p><img src="{{entrenamiento.imagenNoticias.url}}" width="700" height="500" alt=""></p>
    {% endif %}
    <br>
    <p><h4>Autor: </h4>{{entrenamiento.autor}}</p>
    <p><h4>Fecha de Creacion:</h4>{{entrenamiento.fechaCreacion}}</p>
    <p><h4>Descripcion:</h4>{{entrenamiento.descripcion}}</p>
    <br>
    <br>
    {% if request.user.is_superuser %}
    <a href="{% url 'App:Entrenamiento_Delete' entrenamiento.id %}"><button type="submit" id="submit" class="btn btn-danger btn-xl text-uppercase" data-bs-dismiss="modal" type="button">Borrar Noticia</button></a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a href="{% url 'App:Entrenamiento_Edit' entrenamiento.id %}"><button type="submit" id="submit" class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">Editar Noticia</button></a>
    {% endif %}
    
</div>
<br>
<br>
{% endblock %}