{% extends 'App/index.html' %}
{% load static %}
{% block contenidoQueCambia %}

<br>
<br>
<br>
<div class="container text-center">
    <h1>TECNOLOGIA</h1>
</div>

<br>
<div class="container text-center">
    <div class="row">
            {% for tecnologia in tecnologias %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                    <a href="{% url 'App:tecnologia' tecnologia.id %}"><p><img src="{{tecnologia.imagenNoticias.url}}" width="200" height="200" alt=""></p></a>
                    <h3>{{tecnologia.encabezado}}</h3>
                    <p>{{tecnologia.autor}}</p>
                    <p>{{tecnologia.fechaCreacion}}</p>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}